@import url("../../assets/fonts/pretendardvariable.css");
@import url("../../assets/fonts/suit.css");

@import url("./base/dark.css");

@import url("./utilities/utilities.css");

@import url("./components/swal.css");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-pretendard: "Pretendard Variable";
  --font-suit: "Suit Variable";

  --theme-color: #5d87ff;
  --theme-active-color: #1e5eae;

  --color-info: #46caeb;
  --color-success: #2ea95c;
  --color-warning: #f8c20a;
  --color-error: #ff6692;

  --background: #f2f2f2;
  --surface: #e4e4e4;
  --foreground: #222222;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), var(--font-suit), sans-serif;
}

nav .active {
  color: white;
}

nav button.active {
  background: var(--theme-color);
}

nav button:not(.active):hover {
  color: var(--theme-color);
}

nav .nav-group .open {
  background: var(--theme-active-color);
  color: white;
}

.bg-surface {
  background: var(--surface);
}

@layer components {
  /* Button */
  button {
    @apply cursor-pointer rounded-lg px-4 py-2 transition;
    @apply disabled:cursor-not-allowed disabled:opacity-50 disabled:brightness-75;
    @apply hover:opacity-80;
  }

  /* Table */
}
